body{
   background-color: rgba(17, 17, 17,1);
   overflow-x: hidden;
   
}



.inter{
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 1);
  
}


.header > h2{
   color: rgba(230, 83, 60, 1);
   font-size: 2.5em;
}

.nav >a {
   color: rgba(255, 255, 255, 1);
   text-decoration: none;
}

.navbar > ul > li{
   height: 50px;
   width: 150px;
   list-style: none;
   position: relative;
   top: 25px;
   margin-left: 5vw;
}

.navbar > ul{
   display: flex;
   justify-content: space-between;
}

.header{
   margin-top: 5vh;
   display: flex;
   justify-content: space-around;
}

.navbar > ul > li:hover{
   background-color:  rgba(230, 83, 60, 1);
   font-weight: 800;
   text-align: center;
   border-radius: 20px;
   
}

@media screen {
                                    /*for mobile*/
}

.bdy-txt{
   max-width: 40vw;
}


.bdy-txt > h1{
   font-size: 78px;
   font-weight: 900;
   line-height: 70px;
}

.bdy-txt>p{
   line-height: 30px;
}
#none{
   display: inline-block;
   height: 5vh;
   width: 10vw;
   border: 1px white solid;
   text-decoration: none;
   border-radius: 22px;
   margin-left: 10px;
   
}

#orng{
   display: inline-block;
   height: 5vh;
   width: 10vw;
   background-color:rgba(230, 83, 60, 1);
   text-decoration: none;
   border-radius: 22px;
}
.bdy-link>a>span{
   position: relative;
   left: 45px;
   top: 10px;
}
.imgs2{
   position: relative;
   right: 10vw;
}
.body{
   background-color: rgba(199, 194, 194, 0);
   display: flex;
   justify-content: space-around;
}

.play-btn{
   width: 9vw;
   height: 20vh;

   position: relative;
   left: 57vw;
   bottom: 26vh;
}

.play-btn>span{
   
  margin-left: 2vw;
}

.tutorial{
   width: auto;
   height: 10vh;
   border-radius: 13px;
   backdrop-filter: blur(10px);
   display: flex;
   justify-content: space-around;
   position: relative;
   top: 8.6vh;
}

.tips{
   width: 10vw;
   height: 11vh;
   border: 1px solid white;
   position: absolute;
   left: 74vw;
   top: 33vh;
   backdrop-filter: blur(10px);
   
}

.tips>h3{
   position: relative;
   left: 40px;
   bottom: 20px;
}


.tips > p{
   position: relative;
   left: 40px;
   bottom: 55px;
}


.container-txt>h1{
   font-size: 2.7em;
   position: relative;
   left: 26vw;
}

.container-txt>p{
   position: relative;
   left: 13vw;
   line-height: 30px;
}

.container-txt>p>span{
   position: relative;
   left: 14vw;
}
.container{
   width: 70vw;
   height: 50vh;
   
   position: relative;
   left: 12vw;
} 

.box-cntnt{
   width: 15vw;
   height: 36vh;
   
}

.box-cntnt>img{
   border: 2px solid rgba(58, 57, 57, 0.87);
   border-radius: 60%;
   position: relative;
   top: 2vh;
   left: 2vw;
}

.cntnr-img{
   display: grid;
   grid-template-columns: repeat(4 , 1fr);
   column-gap: 15px;
}

.box-cntnt>h3{
   font-size: 18px;
   font-weight: 400;
   position: relative;
   left: 5vw;
   top: 6.5vh;
}


.box-cntnt>p{
   position: relative;
   top:5vh ;

}

.box-cntnt>p>span{
   position: relative;
   left: 4vw;
}

.album{
   width: 70vw;
   height: 48vh;
   
   position: relative;
   top: 5vh;left: 11vw;

}

.album>h1{
   font-size: 2.7em;
   font-weight: 900;
   
}

.rowise{
   display: flex;
}.rowise1{
   display: flex;margin-top: -3.5px;
}

.container-txt2>h1{
   font-size: 2.7em;
   position: relative;
   left: 30vw;
}

.container-txt2>p{
   position: relative;
   left: 30vw;
   line-height: 40px;
}



.data-section{ width: 100%;height: 60vh;background-color: rgb(56, 54, 54); position: relative;top: 12vh; }
.bmi-table{ position: relative;top: 9vh;left:14vw}.bmi-table>h2{font-size: 2.1em;font-weight: 900;}
table{
   width: 25vw;
   border: 1px solid white;border-collapse: collapse;
}

th,td{
   height: 5vh;
   text-align: center;border: 1px solid white;} td{font-size: .8em;   }
   .bmi-calc{
      position: relative;
      top: 9vh;left:14vw ;
   }

   .data-section{
      display: flex;
      gap: 10vw;
   }

   .bmi-input>form>input{
      width: 12vw;height: 5vh;margin-left: 20px;background-color: rgb(105, 104, 104);border-radius: 7px;font-size: 20px;margin-top: 20px;border: none;
   }

   ::placeholder{
      color:white;
      font-weight: 100;
      padding-left: 10px;
   }

   .bmi-input>form>select{
      width: 12vw;height: 5vh;margin-left: 20px;background-color: rgb(105, 104, 104);border-radius: 7px;font-size: 20px;margin-top: 20px;
   }
   .bmi-input>form>select>option>span{
      color: white;
   }

   #last{
      width: 24vw;height: 5vh;margin-left: 20px;background-color: rgb(105, 104, 104);border-radius: 7px;font-size: 20px;margin-top: 20px;
   }

   .bmi-input>form>button{
      width: 12vw;height: 5vh;margin-left: 20px;margin-top: 30px;background-color: rgba(230, 83, 60, 1);border-radius: 25px;border: none;
   }

   .bmi-input>form >button>span{
      color: white;
      font-size: 1.5em;
   }

   .container-txt-3>h1{
      font-size: 2.7em;
      position: relative;
      left: 40vw;
   }

   .container-txt-3>p{
      position: relative;
      left: 27vw;
   }

   .container-txt-3>p>span{
      position: relative;
      left: 12vw;
   }

   .trnrs{
      width: 67vw;
      height: 80vh;
      position: relative;
      left: 16vw;
      background-color: rgb(51, 50, 50);
      border-radius: 8px;
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 5px;
      
   }

   .trnr{
      padding-top: 20px;
      padding-left: 20px;
      width: 20vw;
      height: 36vh;
      
   }

   .trnr>img{
      width: 20vw;
      height: 36vh;
      border-radius: 10px;
   }

   .trnr>h2{
      position: relative;
      left: 2.6vw;
      bottom: 12vh;
   }

   .footer{
      width: 100%;
      height: 60vh;
      background-color:rgb(51, 50, 50) ;
   }

   .first-part>h1{
      color:rgba(230, 83, 60, 1) ;
      font-size: 3.5em;
      font-weight: 900;
      position: relative;
      left: 7vw;
      top: 12vh;
   }
   .first-part>p{
      position: relative;
      top: 10vh;
      left: 7vw;
   }

   .second-prt{
      height:12vh ;
      
      position: relative;
      left: 7vw;
      top: 15vh;
   } 
   .second-prt>ul>li{list-style: none;font-size: 1.5em; color: white;font-family: "Inter" , 'sans-sarif'; font-weight: 200;  margin-top: 15px;}
   .second-prt>h2{ font-size: 2em; font-weight: 400;margin-left: 2vw;      }
   .thrd-prt{ position: relative;top: 15vh;left: 12vw;      height: 12vh;                             }
   .thrd-prt>ul>li{list-style: none;font-size: 1.5em; color: white;font-family: "Inter" , 'sans-sarif'; font-weight: 200;  margin-top:15px; }
   .thrd-prt>h2{ font-size: 2em; font-weight: 400;margin-left: 2vw;  }

   .secnd-cntnr{ display: flex;   margin-top: -5px;margin-left: 11vw;}

   .footer{display: flex;                 }